body,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: 'DC';
    src: url('../font/PT DIN Condensed Cyrillic_0.ttf');
}
@font-face {
    font-family: 'FG';
    src: url('../font/FRADMCN.TTF');
}
@font-face {
    font-family: 'H';
    src: url('../font/HelveticaInserat-Roman-SemiBold.ttf');
}
.container {
    width: 100%;
    height: 1196/75rem;
    // overflow-y: scroll;
}
.header {
    margin-top: 20/75rem;
    width: 100%;
    height: 44/75rem;
    .nearby {
        float: left;
        margin-left: 30/75rem;
        width: 35/75rem;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    h2 {
        float: left;
        width: 620/75rem;
        height: 100%;
        line-height: 44/75rem;
        text-align: center;
        font-size: 36/75rem;
        font-family: "Microsoft YaHei";
    }
    .scan {
        float: right;
        margin-right: 30/75rem;
        width: 35/75rem;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.exercise-situation {
    margin: 0 auto;
    margin-top: 40/75rem;
    width: 690/75rem;
    height: 599/75rem;
    .cards-box {
        width: 690/75rem;
        height: 495/75rem;
        overflow: hidden;       
    }
    .cards {
        position: relative;
        .card3 {
            position: absolute;
            top: 0;
            left: 32/75rem;
            width: 604/75rem;
            height: 495/75rem;
            border-radius: 3/75rem;
            background-color: #fffbec;
            z-index: 1;
        }
        .card2 {
            position: absolute;
            top: 14/75rem;
            left: 10/75rem;
            width: 645/75rem;
            height: 481/75rem;
            border-radius: 3/75rem;
            background-color: #fef2c8;
            z-index: 2;
        }
    }
    .card1 {
        position: absolute;
        top: 34/75rem;
        left: 0;
        width: 690/75rem;
        height: 461/75rem;
        border-radius: 3/75rem 3/75rem 0 0; 
        background-color: #fcd640;
        z-index: 3;
        .card1-title {
            width: 100%;
            overflow: hidden;
        }
        h3 {
            float: left;
            margin-left: 30/75rem;
            margin-top: 30/75rem;
            float: left;
            font-family: 'DC';
            font-size: 30/75rem;
            color: #4e4e50;
        }
        .more {
            float: right;
            margin: 30/75rem  30/75rem 0 0;
            width: 24/75rem;
            height: 24/75rem;
            line-height: 24/75rem;
            border-radius: 50%;
            background-color: #e4ce54;
            color: #4e4e50;
            font-size: 18/75rem;
            text-align: center;
        }
        .time {
            width: 100%;
            height: 86/75rem;
            margin-top: 48/75rem;
            text-align: center;
            font-family: 'DC';            
            .mins {
                font-size: 120/75rem;
                color: #fff;
            }
            .min {
                font-size: 40/75rem;
                color: #fef2b5;
            }
        }
        .maked  {
            float: left;
            margin-top: 50/75rem;
            margin-left: 65/75rem;
            width: 180/75rem;
            height: 222/75rem;
            text-align: center;
            h4 {
                font-family: "Microsoft YaHei";
                font-size: 20/75rem;
                color: #4e4e50;
            }
            .m-num {
                margin-top: 60/75rem;
                .maks{
                    font-size: 90/75rem;
                    color: #fff;
                    font-family: 'DC'; 
                }
                .mak {
                    font-size: 40/75rem;
                    color: #fef2b5;
                    font-family: 'DC'; 
                }
            }
        }
        .used {
            float: right;
            margin-top: 50/75rem;
            margin-right: 46/75rem;
            width: 232/75rem;
            height: 222/75rem;
            text-align: center;
        }
        h4 {
            font-family: "Microsoft YaHei";
            font-size: 20/75rem;
            color: #4e4e50;
        }
        .u-num {
            margin-top: 60/75rem;
            .cals{
                font-size: 90/75rem;
                color: #fff;
                font-family: 'DC'; 
            }
            .cal {
                font-size: 40/75rem;
                color: #fef2b5;
                font-family: 'DC'; 
            }
        }
    }
    .conveyor {
        width: 690/75rem;
        height: 13/75rem;
        background-image: url(../imgs/home_converoy.png);
        background-size: 100% 100%;
    }
    .ranking-list {
        width: 100%;
        height: 90/75rem;
        line-height: 90/75rem;
        box-shadow: 0 0 30/75rem #ececec;
        p {
            margin-left: 30/75rem;
            float: left;
            font-family: "Microsoft YaHei";
            font-size: 30/75rem;
        }
        .top3 {
            float: right;
            img {
                width: 40/75rem;
                height: 40/75rem;
                display: inline-block;
                vertical-align: middle;
                margin-right: 26/75rem;
            }
            .list-more {
                width: 12/75rem;
                height: 22/75rem;
                margin-right:  30/75rem;
            }
        }
    }
}
.sub-message {
    margin: 0 auto;
    margin-top: 50/75rem;
    width: 690/75rem;
    height: 370/75rem;
    .current-people {
        position: relative;
        float: left;
        margin-right: 50/75rem;
        width: 320/75rem;
        height: 100%;
        box-shadow: 0 0 30/75rem #ececec;
        font-family: 'DC';
        color: #4e4e50;
        h3 {
            float: left;
            margin-left: 30/75rem;
            margin-top: 30/75rem;
            font-size: 30/75rem;
        }
        .more {
            .exercise-situation .card1 .more;
            background-color: #e6e6e6;
            color: #7b7b7d;  
        }
        .people {
            margin: 0 auto;
            margin-top: 89/75rem;
            width: 144/75rem;
            height: 144/75rem;
            line-height: 2.2rem;
            border: 8/75rem solid #fce149;
            border-radius: 50%;
            color: #fcda49;
            font-size: 90/75rem;
            font-family: 'DC';
            text-align: center;
        }
        span {
            display: block;
            margin-top: -16/75rem;
            margin-left: 234/75rem;
            color: #fcda49;
            font-size: 40/75rem;
            font-family: 'DC';            
        }
        .subscrible {
            position: absolute;
            left: 0;
            bottom: 0; 
            width: 100%;
            height: 80/75rem;
            border-radius: 3px;
            line-height: 80/75rem;
            background-color: #fcd449;
            text-align: center;
            font-size: 30/75rem;
            font-family: 'DC';
            color: #4e4e50;
        }
    }
    .remaining-time {
        position: relative;
        float: left;
        width: 320/75rem;
        height: 100%;
        box-shadow: 0 0 30/75rem #ececec;
        color: #4e4e50;
        font-family: 'DC';
        h3 {
            margin-left: 30/75rem;
            margin-top: 30/75rem;
            font-size: 30/75rem;
        }
        .r-num {
            margin: 0 auto;
            margin-top: 80/75rem;
            width: 232/75rem;
            text-align: center;
            .rt-num {
                font-size: 90/75rem;
                color: #fcda49;
            }
            .rt-nums {
                font-size: 40/75rem;
                color: #fde9a1;
            }
        }
        .subscrible {
            .sub-message .current-people .subscrible;
        }
    }
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 104/75rem;
    box-shadow: 0 0 30/75rem #ececec;
    z-index: 2;
    background: #fff;
    .tab {
        margin: 0 auto;
        margin-top: 30/75rem;
        width: 608/75rem;
        height: 74/75rem;
        a {
            width: 44/75rem;
            height: 44/75rem;
            float: left;
            margin-right: 142/75rem;
        }
        :last-child {
            margin-right: 0;
        }         
    } 
    img {
        width: 100%;
        height: 100%;
    }
    .active {
        background-color: #fce149;
    }
}

